html{
    width:100%;
    height: 100%;
    background-color:#1D2C36;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    
}

header{
    background-color:#1D2C36;
    color: #ffffff;
    display: flex;
    padding: 0 20% 0 20%;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline ;

}

nav {
    display: flex;
    flex-direction: row;
}

.nav-item{
    margin: 10px;
    padding: 10px;
}

main{
    background-color: #ffffff;
    padding: 1% 5% 1% 5%;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    /* taken from internet */
    background: #70e1f5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #70e1f5, #ffd194); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #70e1f5, #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



footer{
    background-color:#1D2C36;
    padding: 0 20% 0 20%;
    color: #ffffff;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.side-container{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-top: 2.5%;
    border-right: 1px solid;
    
}

.grid-container{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
}

.search-container > input{
    width: 50%;
    font-size: 32px;
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 15px;
}

.search-container > button{
    border-radius: 0 10px 10px 0;
    font-size: 32px;
    border : none;
    padding: 15px;
    background-color:#1D2C36;
    color: #ffffff;
}



.card-container{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 20vw;
    margin : 2.5%;    
    border-radius: 7px 7px 7px 7px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}



.card-image > img{
    width: 100%; 
    border-radius: 7px 7px 0 0;
    display : block;
}

.card-info{
    background-color: #F0F3F5 ;
    margin: 0;
    padding: 5%;
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.card-info > p{
    width: 100%;
}

.card-bottom{
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: #F0F3F5;
    align-items: center;
    border-radius: 0 0 7px 7px;
}

.card-social{
    padding: 20px;

}

.card-button-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.card-button-container > button{
    width: 50%;
    padding:10px;
    border:none;

}

.card-copy{
    background-color: #845EC2;
    border-bottom-left-radius: 7px;
}

.card-fav{
    background-color: #FF8066;
    border-bottom-right-radius: 7px;
    
}

.card-copy:hover{
    background-color: #00C9A7;
}

.card-fav:hover{
    background-color: #00C9A7;
}


button:active{
    border: none;
}




/* for checkbox */

.checkbox-container{
    display: flex;
    flex-flow: column nowrap;
}

.checkbox-item{
    display: flex;
    flex-direction: row;
}